body {
  font-family: "SF Pro Text", "SF Pro Icons", Segoe UI, SegoeUI,
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* background-image: url("https://i1.wp.com/free4kwallpapers.com/uploads/originals/2019/05/09/tokyo-japan-wallpaper.jpg");
  background-size: cover; */
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .key-wrap {
    width: 94% !important;
    left: 4% !important;
  }

  .input-keyword {
    width: 75.5% !important;
  }

  .viewport-header {
    height: 55vh !important;
  }

  .parallax-weather {
    padding: 0 !important;
    top: 70% !important;
    left: 5%;
  }

  .parallax-temp {
    font-size: 2.5em !important;
  }

  .parallax-temp-unit {
    font-size: 1em !important;
  }

  .parallax-weather-icon {
    font-size: 25px !important;
    margin-right: 3px !important;
  }

  .day-forecast {
    margin: 0.4rem !important;
    padding: 0.4rem !important;
    font-size: 0.7rem !important;
    width: 13% !important;
  }

  .weather-city {
    font-size: 13vw !important;
  }

  .day-name {
    font-size: 1.6em !important;
  }

  .day-temperature {
    font-size: 1.6em !important;
  }

  .day-weather-icon {
    font-size: 30px !important;
  }

  .top-overview-wrap {
    position: absolute !important;
    justify-content: center !important;
    right: 0 !important;
  }

  a {
    font-size: 13px !important;
    padding-right: 4px !important;
  }

  .units {
    font-size: 1em !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .key-wrap {
    width: 75% !important;
    left: 13% !important;
  }

  .input-keyword {
    width: 81.5% !important;
  }

  .viewport-header {
    height: 65vh !important;
  }

  .parallax-temp {
    font-size: 3.3em !important;
  }

  .parallax-temp-unit {
    font-size: 1em !important;
  }

  .parallax-weather-icon {
    font-size: 25px !important;
    margin-right: 5px !important;
  }

  .day-forecast {
    margin: 0.3rem !important;
    padding: 0.4rem !important;
    font-size: 0.6rem !important;
    width: 10% !important;
  }

  .weather-city {
    font-size: 13vw !important;
  }

  .day-weather-icon {
    font-size: 25px !important;
  }

  .top-overview-wrap {
    position: relative !important;
  }

  .units {
    font-size: 1em !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .key-wrap {
    width: 55% !important;
    left: 23% !important;
  }

  .input-keyword {
    width: 80.5% !important;
  }

  .viewport-header {
    height: 70vh !important;
  }

  .parallax-temp {
    font-size: 4.5em !important;
  }

  .parallax-temp-unit {
    font-size: 1.3em !important;
  }

  .parallax-weather-icon {
    font-size: 30px !important;
  }

  .day-forecast {
    margin: 0.3rem !important;
    padding: 0.4rem !important;
    font-size: 0.9rem !important;
    width: 10% !important;
  }

  .weather-city {
    font-size: 15vw !important;
  }

  .day-weather-icon {
    font-size: 30px !important;
  }

  .top-overview-wrap {
    position: relative !important;
  }

  .units {
    font-size: 1.3em !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .key-wrap {
    width: 50% !important;
    left: 25% !important;
  }

  .input-keyword {
    width: 83% !important;
  }

  .viewport-header {
    height: 70vh !important;
  }

  .parallax-temp {
    font-size: 5em !important;
  }

  .parallax-temp-unit {
    font-size: 1.5em !important;
  }

  .day-forecast {
    margin: 0.3rem !important;
    padding: 0.4rem !important;
    font-size: 1rem !important;
    width: 10% !important;
  }

  .parallax-weather-icon {
    font-size: 30px !important;
  }

  .weather-city {
    font-size: 15vw !important;
  }

  .day-weather-icon {
    font-size: 30px !important;
  }

  .top-overview-wrap {
    position: relative !important;
  }

  .units {
    font-size: 1.5em !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .key-wrap {
    width: 40% !important;
    left: 30% !important;
  }

  .input-keyword {
    width: 83% !important;
  }

  .viewport-header {
    height: 67vh !important;
  }

  .parallax-temp {
    font-size: 5em !important;
  }

  .parallax-temp-unit {
    font-size: 2em !important;
  }

  .parallax-weather-icon {
    font-size: 40px !important;
  }

  .day-forecast {
    margin: 0.3rem !important;
    padding: 0.4rem !important;
    font-size: 1.3rem !important;
    width: 10% !important;
  }

  .weather-city {
    font-size: 10vw !important;
  }

  .day-weather-icon {
    font-size: 40px !important;
  }

  .top-overview-wrap {
    position: relative !important;
  }
}

/* Extra large devices (large laptops and desktops, 1500px and up) */
@media only screen and (min-width: 1500px) {
  .key-wrap {
    width: 40% !important;
    left: 30% !important;
  }

  .input-keyword {
    width: 86% !important;
  }

  .viewport-header {
    height: 69vh !important;
  }

  .weather-city {
    font-size: 12vw !important;
  }

  .day-weather-icon {
    font-size: 40px !important;
  }

  .parallax-weather-icon {
    font-size: 55px !important;
  }

  .top-overview-wrap {
    position: relative !important;
  }
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

button {
  /* border: 1px solid #1a64d6; */
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 16px;
  font-weight: 200;
  line-height: 22px;
  padding: 8px 13px;
  border-radius: 25px;
  transition: all 200ms ease;
  box-shadow: rgb(37 39 89 / 8%) 0px 8px 8px 0;
  cursor: pointer;
  font-family: "SF Pro Text", "SF Pro Icons", Segoe UI, SegoeUI,
    "Helvetica Neue", Helvetica, Arial, sans-serif;
}

button:hover {
  background: #fff;
  color: rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.9);
  font-weight: 400;
}

.cities-list a {
  color: #fff;
  text-decoration: none;
  padding-right: 10px;
  font-weight: 200;
  font-size: 16px;
}

.cities-list a:hover {
  text-decoration: underline;
}

h1 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3vw;
  line-height: 1.2;
  font-size: 2.5vw;
  text-align: center;
  margin: 0;
}

.key-wrap {
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 30px;
}

.input-keyword {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px 9px 10px 45px;
  font-size: 16px;
  font-weight: 200;
  width: 85%;
  height: 40px;
  border-radius: 25px;
  box-sizing: border-box;
  outline: 0;
  font-family: "SF Pro Text", "SF Pro Icons", Segoe UI, SegoeUI,
    "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.input-keyword:focus {
  border: 1px solid #3ea1ee !important;
  outline: 0 !important;
}

.input-icons i {
  position: absolute;
  top: 20px;
  left: 15px;
  color: #fff;
}

.cities-list {
  padding-left: 20px;
  padding-top: 5px;
  color: #fff;
}

.viewport-header {
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 85px;
}

.weather-city {
  display: block;
  font-size: 10vw;
  letter-spacing: -0.5vw;
}

.parallax-weather {
  display: block;
  padding: 0 10px 0 40px;
  position: absolute;
  box-sizing: border-box;
  color: #fff;
  z-index: 1;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.6));
}

.parallax-temp {
  font-size: 7em;
  font-weight: 200;
  line-height: 1;
  text-shadow: #000 0 0 10px;
  text-rendering: optimizeLegibility;
}

.parallax-temp-unit {
  font-size: 3em;
  font-weight: 200;
  text-shadow: #000 0 0 10px;
  text-rendering: optimizeLegibility;
}

.parallax-weather-icon {
  display: inline-block;
  margin-right: 10px;
  font-size: 50px;
}

.top-overview-wrap {
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  right: 2%;
}

.day-forecast {
  margin: 0.3rem;
  padding: 0.4rem;
  font-size: 1.3rem;
  width: 10%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  font-weight: 200;
  color: #fff;
  line-height: 1.1;
}

.day-name {
  font-size: 1.4em;
  margin: 0.6rem;
}

.day-temperature {
  font-size: 1.4em;
  margin: 0.6rem;
}

.day-weather-icon {
  display: inline-block;
  font-size: 40px;
}

.units {
  position: absolute;
  top: 24%;
  color: #fff;
  font-size: 2em;
  font-weight: 200;
  text-shadow: #000 0 0 10px;
  text-rendering: optimizeLegibility;
}

.units a {
  color: #fff;
  text-decoration: none;
  text-shadow: #000 0 0 10px;
  text-rendering: optimizeLegibility;
}

.units a:hover {
  text-decoration: underline;
  font-weight: 200;
}
